      
<!--========== BEGIN HEADER ==========-->
<header id="header" class="header-main">

  <!-- Begin Navbar -->
  <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand my-brand" href="#"><strong>GOLEMTRON</strong></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a class="page-scroll active" href="#">About</a></li>
          <li><a href="/packages">Packages</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <!-- End Navbar -->

</header>
<!-- ========= END HEADER =========-->

<div class="container-block text-center" id="team-container">

 <div class="row">
   <div class="col-md-4">
     <img src="/assets/images/tahaRushain.jpg" class="responsive img-team" alt="Saqib Ali" />
     <h3>Taha Rushain</h3>
     <h5>CEO</h5>
   </div>
   <div class="col-md-8">
     <p class="client-quote">
       Taha has a thing for computers, and he loves playing around with new technologies. He considers himself more of a generalist then a specialist, it is because he gets driven towards anything revolving around Computer Science whether that be 'Internet of Things', 'Machine Learning' or 'Mainframes'. He dreams to be among the most successful entrepreneurs and he also has a vision to be a driving force in the robotic revolution of the world.
     </p>
     <div class="social-icons">
       <a href="fb.com" id="icon" target="_blank"><i class="fa fa-github fa-3x" href="fb.com"></i></a>
       <a href="fb.com" id="icon" target="_blank"><i class="fa fa-linkedin fa-3x" href="fb.com"></i></a>
       <a href="fb.com" id="icon" target="_blank"><i class="fa fa-facebook fa-3x" href="fb.com"></i></a>
       <a href="fb.com" id="icon" target="_blank"><i class="fa fa-twitter fa-3x" href="fb.com"></i></a>
       <a href="fb.com" id="icon" target="_blank"><i class="fa fa-instagram fa-3x" href="fb.com"></i></a>
     </div>
   </div>
 </div>    
</div>

<div class="container-block text-center" id="team-container-two">

 <div class="row">
   <div class="col-md-4">
     <img src="/assets/images/saqibAli.jpg" class="responsive img-team-two" alt="Saqib Ali">
     <h3>Talab Bin Tahir</h3>
     <h5>CTO</h5>
   </div>
   <div class="col-md-8">
     <p class="team-bio">
       Talal have been into coding and development since high school. His motivation to learn has always been Human Computer Interaction, how people interact with computers and at what levels they engage to have an amazing experience. His core language of development is 'Java', since his 'Hello World' command was by it. He has command over developing mobile applications for multiple platforms. 
     </p>
     <div class="social-icons">
       <a href="fb.com" class="social-icon" target="_blank"><i class="fa fa-github fa-3x" href="fb.com"></i></a>
       <a href="fb.com" class="social-icon" target="_blank"><i class="fa fa-linkedin fa-3x" href="fb.com"></i></a>
       <a href="fb.com" class="social-icon" target="_blank"><i class="fa fa-facebook fa-3x" href="fb.com"></i></a>
       <a href="fb.com" class="social-icon" target="_blank"><i class="fa fa-twitter fa-3x" href="fb.com"></i></a>
       <a href="fb.com" class="social-icon" target="_blank"><i class="fa fa-instagram fa-3x" href="fb.com"></i></a>
     </div>

   </div>
 </div>    
</div>

<div class="footer">
  <div class="container-block text-center">
    <p class="copyright">Golemtron &copy; 2016</p>
  </div>
</div>