      
<!--========== BEGIN HEADER ==========-->
<header id="header" class="header-main">

  <!-- Begin Navbar -->
  <nav id="main-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation"> <!-- Classes: navbar-default, navbar-inverse, navbar-fixed-top, navbar-fixed-bottom, navbar-transparent. Note: If you use non-transparent navbar, set "height: 98px;" to #header -->

    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand my-brand" href="#"><strong>GOLEMTRON</strong></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="page-scroll active" href="#">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/packages">Packages</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
  <!-- End Navbar -->

</header>
<!-- ========= END HEADER =========-->
<div class="jumbotron" id="jumbo">
  <div class="container text-center">
    <img src="/assets/images/logo.png" class="responsive img-circle">
  </div>
</div>
<div class="container text-center" id="services-container">
  <h2>"Professional solutions for professionals."</h2>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <i class="fa fa-rocket social-media"></i>
      <div class="rotate-box-info">
        <h4>Social Media Marketing</h4>
      </div>

    </div>
    <div class="col-md-3 col-sm-6">
      <i class="fa fa-mobile mobile-app"></i>
      <div class="rotate-box-info">
        <h4>Mobile App Development</h4>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <i class="fa fa-cloud web-dev"></i>
      <div class="rotate-box-info">
        <h4>Web Development</h4>
      </div>
      
    </div>
    <div class="col-md-3 col-sm-6">
      <i class="fa fa-cubes graphic-des"></i>
      <div class="rotate-box-info">
        <h4>Graphic Designing</h4>
      </div>
      
    </div>
  </div>
</div>
<div class="container-block text-center" id="reviews-container">
  <h2>"We believe in satisfaction, client satisfaction!"</h2>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="row">
          <div class="col-md-3">
            <img class="client-image responsive" src="/assets/images/aprilMasini.jpeg" alt="aprilmasini.com" />
            <h5>April Misini</h5>
          </div><div class="col-md-9">
          <p class="client-quote">
            "Team Golemtron did an exceptional job. Indeed, they went way above and beyond the scope of the project without being asked or paid! You will never have to worry about them delivering the promised results. They will exceed your expectations. It is not often that one runs across this brand of integrity and dedication."
          </p>
        </div>
      </div>


    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-3">
          <img class="client-image responsive" src="/assets/images/ahmedFawad.jpg" alt="Ahmed Fawad" />
          <h5>Ahmed Fawad</h5>
        </div>
        <div class="col-md-9">
          <p class="client-quote">
            "I was short on budget but they made it possible within my budget without any compromise to quality, it is very astonishing. Thumps up to these guys!"
          </p>
        </div>

      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-md-3">
          <img class="client-image responsive" src="/assets/images/saqibAli.jpg" alt="Saqib Ali" />
          <h5>Ahmed Fawad</h5>
        </div><div class="col-md-9">
        <p class="client-quote">
          "Golemtron contains a very talented and dedicated team, the way they work and respond to deadlines is very impressive. They have done a great job and I would recommend everyone to choose them for their software solutions."
        </p>
      </div>
    </div>
  </div>
</div></div>
</div>


<div class="container-block" id="skills-container">
  <h2 class="text-center">"We are good at what we do"</h2>

  <div class="row">
    <div class="col-md-6">
      <h4>Ruby on Rails</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
          <span class="sr-only">85% Complete (success)</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Laravel</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80% Complete (success)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>.NET Development</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
          <span class="sr-only">90% Complete (success)</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Java Development</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
          <span class="sr-only">70% Complete (success)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Android Development</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
          <span class="sr-only">95% Complete (success)</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Hybrid Application Development</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
          <span class="sr-only">85% Complete (success)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Apple Development</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">80% Complete (success)</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Graphic Designing</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
          <span class="sr-only">75% Complete (success)</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Social Media Marketing</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
          <span class="sr-only">90% Complete (success)</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Search Engine Optimization</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-custom" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width: 97%">
          <span class="sr-only">97% Complete (success)</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container-block text-center">
    <p class="copyright">Golemtron &copy; 2016</p>
  </div>
</div>